<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layoutPadrao">

<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/style.css" /></link>
<title>Cadastro de Titulo</title>
</head>
<header>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#"> <img
			src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30"
			height="30" class="d-inline-block align-top" alt=""></img> JeG
		</a>
	</nav>
</header>
	<section layout:fragment="conteudo">
		<form class="form-horizontal" action="/titulos" method="post" th:object="${titulo}" >
	<h1>Cadastro de Titulos</h1>
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span  th:text="${mensagem}"></span>
	</div>
	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		<div  th:each="detailedError : ${#fields.detailedErrors()}">
		<span th:text="${detailedError.message}"></span>
		</div>
		
	</div>
		<div class="card">
		  <div class="clear-fix">
				<h1 class="panel-title onTituloPanel">Novo Cadastro</h1>
				<a class="btn btn-link onlinkPanel" href="/titulos">Voltar para a Pesquisa</a>
			</div>
		  <div class="card-body">
			<input type="hidden" th:field="*{codigo}" />
			  <div class="form-row">
			    <div class="form-group col-sm-5">
			      <label for="inputEmail4 control-label">Descrição</label>
			      <input type="text" class="form-control" id="descricao" th:field="*{descricao}"></input>
			    </div>
			  </div>
			    <div class="form-row">
			    <div class="form-group col-sm-3">
			      <label for="inputEmail4">Data de Vencimento</label>
			      <input type="text" class="form-control" id="dataVencimento" th:field="*{dataVencimento}"/>
			    </div>
			  </div>
			    <div class="form-row">
			    <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('valor')}  ? has-error">
			      <label for="number">valor</label>
			      <input type="text" class="form-control" id="valor" th:field="*{valor}"/>
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-sm-3">
			      <label for="status">Status</label>
			      <select id="status" class="form-control" name="status">
			        <option th:each="status : ${todosOsTitulos}" th:value="${status}" th:text="${status.descricao}"></option>
			      </select>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="form-check col-sm-3">
			      <input class="form-check-input" type="checkbox" id="gridCheck"/>
			      <label class="form-check-label" for="gridCheck">
			        Clique em mim
			      </label>
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary">Entrar</button>
		   </div>
		   </div>
	</form>
	</section>	
</body>
</html>