<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" /></link>
<link id="appcss" rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
		<nav class="navbar navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">
		    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""></img>
		    JeG
		  </a>
		</nav>
	<section layout:fragment="conteudo">
		<p>Conteudo Principal</p>
	</section>
<script src="/js/jquery.dev.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>