<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/style.css" /></link>
<title>Cobrança</title>
</head>
<body>
	<header layout:include="topo2"></header>
	<section layout:fragment="conteudo">
		<p>Conteudo Principal</p>
	</section>
<script src="/js/jquery.dev.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>